/* Définition des fonts de la page */
@font-face {
  font-family: 'Drive';
    src: url('../css/font.css');
    font-weight: 100, 200, 400, 700, 900;
    font-style: normal;
  font-family: 'WeDrive';
    src: url('../css/font.css');
    font-weight: 400, 700;
    font-style: normal;
}

/**** STYLES GENERAUX DE LA PAGE ****/
body {
  font-family: 'Drive';
  background-image: url('../images/background.png');
  color: #5A4A4A;
  text-decoration: none;
}

body a {
  color: #5A4A4A;
}

.container {
  padding: 0;
}

/**** STYLE DU HEADER ****/
header .nav-item {
  text-transform: uppercase;
  background-color: #F6F6F3;
}

header .navbar .navbar-nav .active {
  background-color: #5A4A4A;
  color: #F6F6F3;
}

header .navbar .navbar-nav a:hover {
  background-color: #5A4A4A;
  color: #F6F6F3;
}

.pull-left {
  float: left;
  margin-left: 2.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0.5rem;
}

.navbar {
  padding-bottom: 3.5rem;
}

/**** STYLE DES ARTICLES ****/
article .photos {
  padding: 0;
}

article .photos img {
  width: 100%;
}

article {
  background-color: white;
}

article .posts {
  padding-right: 1.2rem;
  padding-left: 3.5rem;
}
article .published_date {
  font-family: 'WeDrive';
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 1rem;
  margin-right: 0.2rem;
}

article h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 2.5rem;
  line-height: 1.9rem;
}

article p {
  font-family: 'WeDrive';
  margin-right: 2.5rem;
  line-height: 1.8rem;
}

article .footer-article {
  width: 100%;
  height: 32%;
}

article .categories {
  font-family: 'WeDrive';
  text-transform: uppercase;
  font-size: 0.9rem;
  background-color: #F6F6F3;
  font-weight: 400;
  text-decoration: none;
  color: #5A4A4A;
  padding: 0.2rem 0.6rem!important;
}

body > main > article > div.posts > div > a {
  padding-bottom: 0rem!important;
}

body article .footer-article a img {
  background-color: #E0DDDD;
  border-radius: 50%;
  width: 125%;
  text-align: center;
}

/**** TRIANGLE ****/
.pink-triangle {
  background-image: url("../images/pink-triangle.png");
  background-repeat: repeat-x;
  padding: 2rem;
}

.blue-triangle {
  background-image: url("../images/blue-triangle.png");
  background-repeat: repeat-x;
  padding: 2rem;
}
